/* Fuentes al principio */
@font-face {
  font-family: "popins";
  src: url(../fonts/poppins/Poppins-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "popins";
  src: url(../fonts/poppins/Poppins-Bold.ttf);
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "popins";
  src: url(../fonts/poppins/Poppins-Italic.ttf);
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Italic.ttf);
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: palette;
  src: url(../fonts/PaletteMosaic-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

/* Definicion de variables */
:root {
  --gray: #2c3034;
  --medium-slate-blue: #8264e7;
  --night: #121212;
  --white: #f7f7f8
}

/* estilos basicos del body asi como la imagen de fondo */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  background-color: var(--white);
  font-family: poppins;
  font-size: 16px;

  background-image: url(../multimedia/img/background.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

/* estilos de los h */
h1,
h2,
h3,
h4 {
  font-family: montserrat;
  margin: 1rem;
  padding: 1rem;
  color: white;
}

/* estilo de los textos */
p,
label {
  margin: 1rem;
  padding: 1rem;
  color: white;
}

/* tamaños de los h */
h1 {
  font-size: 2.5 rem;
}

h2 {
  font-size: 2 rem;
}

h3 {
  font-size: 1.5 rem;
}

h4 {
  font-size: 1.25 rem;
}

/* clases para ajustar el fondo de manera sencilla */

.blue {
  background-color: var(--medium-slate-blue);
}

.black {
  background-color: var(--night);
}

.dark {
  background-color: var(--gray);
}

.white {
  background-color: var(--white);
}

.transparent {
  background-color: transparent;
}

/* margen para respetar la barra de navegacion */
#carouselExampleRide,
.hero {
  margin-top: 56px;
}

/* tamaño para ocupar toda la pantalla */
.imgCarousel,
.hero {
  height: calc(100vh - 56px);
  width: 100vw;
}

/* fuente inteligible */
.cryptic {
  font-family: palette;
}

/* imagen del las cards para que seand consistentes */
.cardImg {
  height: 40vh;
  width: 100%;
}

/* Clases para aplicar el texto de forma mas sencilla */
.whiteText {
  color: var(--white);
}

.blackText {
  color: var(--night);
}

/* Decoracion de enlaces y listas */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Ajustar el tamaño de las cards por consistencia */
.cardRating {
  width: 100%;
  height: 50vh;
}

/* placeholder del textarea, es important porque todo en bootstrap tambien lo es */
textarea::placeholder {
  color: black !important;
  /* Override default reduced opacity in some browsers like Firefox */
}
