@font-face {
  font-family: "popins";
  src: url(../fonts/poppins/Poppins-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "popins";
  src: url(../fonts/poppins/Poppins-Bold.ttf);
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "popins";
  src: url(../fonts/poppins/Poppins-Italic.ttf);
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Italic.ttf);
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: palette;
  src: url(../fonts/PaletteMosaic-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --gray: #7b7b7b;
  --medium-slate-blue: #8264e7;
  --silver: #c6c6c7;
  --silver-2: #aaaaaa;
  --night: #121212;
  --white: #f7f7f8
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
  font-family: poppins;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: montserrat;
  margin: 1rem;
  padding: 1rem;
}

p {
  margin: 0, 5rem;
  padding: 0.5rem;
}

h1 {
  font-size: 2.5 rem;
}

h2 {
  font-size: 2 rem;
}

h3 {
  font-size: 1.5 rem;
}

h4 {
  font-size: 1.25 rem;
}

.gray {
  background-color: var(--gray);
}

.blue {
  background-color: var(--medium-slate-blue);
}

.silver {
  background-color: var(--silver);
}

.silver2 {
  background-color: var(--silver-2);
}

.black {
  background-color: var(--night);
}

.white {
  background-color: var(--white);
}


#carouselExampleRide,
.hero {
  margin-top: 56px;
}

.imgCarousel,
.hero {
  height: calc(100vh - 56px);
  width: 100vw;
}

.cryptic {
  font-family: palette;
}

.cardImg {
  height: 40vh;
  width: 100%;
}

.whiteText {
  color: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
